html {
  -webkit-font-smoothing: antialiased;
}

header {
  color: #CC033C;
  font-size: 5.4vw;
  padding-top: 2vh;
}

.date {
  color: #000;
  font-size: 25vh;
}

.info {
  height: 40vh;
  text-align: center;
}
